.Todo {
  width: 30em;
  margin: 0 auto;
  line-height: 1.5rem;
  font-family:
    'Helvetica Neue',
    'Lucida Grande',
    sans-serif;
}

.Todo input {
  box-sizing: border-box;
  width: 30em;
  padding: .2em 1em;
  margin: 0;
  font: inherit;
}

.Todo ol {
  padding: .5em 0 0 2em;
  margin: 0;
}

.Todo li {
  cursor: default;
  margin: 1px;
  padding: .2em 1em;
}

.Todo li:hover {
  background-color: #ccc;
}

.Todo .done {
  text-decoration: line-through;
  color: #999;
}
